<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Greg.RestLearning.Service.RestFeedService1">
        <endpoint address="aaa" behaviorConfiguration="webHttp" binding="webHttpBinding"
          contract="Greg.RestLearning.ServiceContracts.IRestFeedService1" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:101/Greg.RestLearning.Service" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="a"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <!-- Wystawienie odpowiedniego zachowania bindinga zeby zachowywalo sie jak REST...-->
          <webHttp/>
          <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
